{
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": false,
  "bracketSpacing": true,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "^(react/(.*)$)|^(react$)",
    "^(remix/(.*)$)|^(remix$)",
    "<THIRD_PARTY_MODULES>",
    "^~/(.*)$",
    "^[.]",
    "",
    "/.css$"
  ],
  "importOrderTypeScriptVersion": "5.2.2"
}
